{% include "registration/header.html" %}


<title>{{ title }}</title>
 </head>

  <body>
<div class="container">   <center><h1>Register Account</h1></center>
  <div class="jumbotron">

    <form method="post" action="/register_data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
        <a href="/accounts/login/" class="btn btn-secondary btn-lg btn-block">Login</a>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>

